# 1. Dependencias (¡Súper pesado, nunca se sube!)
node_modules/
.pnpm-store/

# 2. Entornos y Credenciales (Seguridad crucial)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# NOTA: .env.example SÍ se debe subir (para que sirva de guía), por eso no lo agregamos aquí.

# 3. Carpetas de compilación / producción
dist/
build/

# 4. Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 5. Configuraciones del editor de código (Opcional, pero recomendado)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# 6. Archivos del sistema operativo
.DS_Store
Thumbs.db